    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
    }
    /* Header */
    
    .nav__menu--item,
    .studies__item--place,
    .studies__item--time {
        list-style: none;
    }
    
    .nav {
        position: fixed;
        z-index: 5;
        width: 100%;
        padding: 25px 0;
        transition: all 0.3s ease;
    }
    
    .nav__content {
        max-width: 1250px;
        margin: auto;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav.sticky {
        padding: 10px 0;
        background: #e71224;
    }
    
    .nav__logo {
        height: 55px;
        filter: brightness(200%);
    }
    
    .nav__menu {
        display: inline-flex;
    }
    
    .nav__menu--link {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
        text-decoration: none;
        transition: all 0.3s ease;
        text-transform: uppercase;
    }
    
    .nav__menu--link:hover {
        color: #000000;
    }
    
    .menu__icon {
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    
    .menu__icon--close {
        position: absolute;
        right: 30px;
        top: 20px;
    }
    
    .sticky .menu__icon--close {
        top: 10px;
    }
    /* Main */
    
    .container {
        width: 90%;
        display: grid;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
    }
    
    .title {
        font-family: 'Playfair Display SC', serif;
        text-align: center;
        font-size: 36px;
    }
    
    .title2 {
        font-family: 'Playfair Display SC', serif;
        text-align: center;
        font-size: 24px;
    }
    
    .title3 {
        font-family: 'Playfair Display SC', serif;
        font-size: 16px;
    }
    
    .text {
        font-size: 16px;
        font-weight: normal;
        text-align: justify;
    }
    
    .button {
        background-color: #e71224;
        color: white;
        text-align: center;
        border-radius: 25px;
        border: 2px solid #e71224;
        cursor: pointer;
    }
    
    .button:hover {
        transform: scale(1.1);
    }
    /* Banner */
    
    .banner {
        background-color: rgb(160, 116, 116);
        height: 100vh;
        /* background: url("./media/banner1.png") no-repeat; */
        background: #000000;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: end;
    }
    
    .banner__text {
        color: white;
        padding: 0 20px;
        flex: end;
    }
    
    .banner__text--red {
        font-family: 'Playfair Display SC', serif;
        color: red;
    }
    /* About */
    
    .about__img {
        width: 100px;
        margin: auto;
        border: 3px solid black;
    }
    
    .about__img:hover {
        border: 3px solid #e71224;
    }
    
    .button--download,
    .button--send {
        width: 150px;
        height: 35px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    /* Projects */
    
    .projects {
        background: #000000;
        width: 100%;
    }
    
    .projects__title,
    .skills__title {
        color: white;
    }
    
    .card {
        background: black;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        color: white;
        padding: 10px 10px;
        border: 1px solid white;
        width: 200px;
    }
    
    .card__img {
        width: 150px;
        height: 200px;
        margin: auto;
        border: 3px solid white;
    }
    
    .card__button {
        display: flex;
        flex-direction: row;
    }
    
    .card__button--demo,
    .card__button--code {
        margin: 5px;
        width: 70px;
        height: 25px;
    }
    /* Education */
    
    .education__icon {
        font-size: 50px;
        text-align: center;
        margin: auto;
    }
    
    .education__icon:hover {
        color: #e71224;
    }
    
    .studies__item--name {
        font-weight: bold;
    }
    
    .skills {
        background: #000000;
        width: 100%;
        color: white;
    }
    
    .skills__languages,
    .skills__web {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        padding: 10px 0;
    }
    
    .languajes__title,
    .web__title {
        grid-column: 1/span 2;
        grid-row: 1;
        margin: auto;
    }
    /* Contact */
    
    .contact__title {
        font-family: 'Playfair Display SC', serif;
        text-align: center;
    }
    
    .contact-form {
        display: flex;
        flex-direction: column;
    }
    
    .form__input {
        border-radius: 10px;
        margin: 5px;
        border: 2px solid #000000;
    }
    
    .form__input--message {
        height: 100px;
    }
    
    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .social-media__icon {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .icon__link {
        font-size: 50px;
        text-decoration: none;
        color: black;
        overflow: hidden;
        padding: 0 10px;
    }
    
    .icon__link:hover {
        color: #e71224;
        transform: scale(1.2);
    }
    
    .blacklogo {
        grid-column: 2;
        grid-row: 2;
        margin: auto;
        width: 80px;
    }
    
    .icon__link1 {
        grid-column: 2;
        grid-row: 1;
        margin: auto;
    }
    
    .icon__link2 {
        grid-column: 1;
        grid-row: 2;
        margin: auto;
    }
    
    .icon__link3 {
        grid-column: 3;
        grid-row: 2;
        margin: auto;
    }
    
    .icon__link4 {
        grid-column: 2;
        grid-row: 3;
        margin: auto;
    }
    
    #mail-to {
        opacity: 0;
    }
    /* Footer */
    
    .footer {
        background-color: black;
        color: white;
        padding: 10px;
    }
    
    .footer__text {
        text-align: center;
        font-size: 18px;
    }
    
    .footer__text--red {
        color: #e71224;
    }
    /* 
     Media queries
*/
    /* Media query header*/
    
    @media (max-width: 700px) {
        body.disabledScroll {
            overflow: hidden;
        }
        .menu__icon {
            display: block;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            z-index: 9;
        }
        .menu__icon--close {
            display: none;
        }
        .menu__icon--close.show {
            display: block;
        }
        .menu__icon.hide {
            display: none;
        }
        .nav__menu {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background: #e71224;
            display: block;
            padding: 40px 0;
            text-align: center;
            clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
            transition: all 0.3s ease;
        }
        .sticky .nav__menu {
            clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
        }
        .nav .nav__menu--active {
            clip-path: circle(75%);
        }
        .nav__menu--item {
            margin-top: 45px;
        }
        .nav__menu--link {
            font-size: 23px;
        }
    }
    /* Media queries main */
    
    @media (min-width: 700px) {
        .title {
            font-size: 48px;
        }
        .title2 {
            font-size: 36px;
        }
        .title3 {
            font-size: 24px;
        }
        .text {
            font-size: 24px;
        }
        /* Banner */
        .banner__text {
            color: white;
            padding: 0 100px;
            flex: end;
        }
        .banner__text--red {
            font-size: 48px;
        }
        .banner {
            align-items: center;
        }
        /* About */
        .about {
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 2fr;
            margin: auto;
        }
        .about__title {
            grid-column: 1/span2;
            grid-row: 1;
        }
        .about__img {
            width: 200px;
        }
        .button--download {
            grid-column: 1/span2;
            grid-row: 3;
        }
        .button--download,
        .button--send {
            width: 250px;
            height: 50px;
            justify-content: center;
            align-items: center;
            margin: auto;
            font-size: 24px;
        }
        /* Projects */
        .projects {
            grid-template-rows: 1fr 2fr 2fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .projects__title {
            grid-column: 1/span 3;
            grid-row: 1;
        }
        .card__description,
        .card__button--demo,
        .card__button--code {
            font-size: 16px;
        }
        /* Education */
        .fa-award {
            font-size: 100px;
        }
        .education__icon {
            font-size: 70px;
        }
        .education__studies {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 3fr;
        }
        .studies__title {
            grid-column: 1/span 2;
            grid-row: 1;
            margin: auto;
        }
        .skills {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr;
        }
        .skills__title {
            grid-column: 1/span 2;
            grid-row: 1;
            margin: auto;
        }
        .skills__languages,
        .skills__web {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr;
        }
        .languajes__title,
        .web__title {
            grid-column: 1/span 2;
            grid-row: 1;
            margin: auto;
            padding: 0 0 20px 0;
        }
        /* Contact */
        .contact {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 3fr;
        }
        .contact__title {
            grid-column: 1/span 2;
            grid-row: 1;
        }
        .icon__link {
            font-size: 60px;
        }
    }